body,html{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;

}
.longest{
 width: 100%;
 height: 80px;
 background-color: transparent;
 position: absolute;
}
.medium{
    width: 90%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 75px;

}
.container{
    width: 100%;
    height: 100%;


}
.ul{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    position: absolute;
    left: 20px;
    list-style: none;
}
#a1{
    position: absolute;
    left: 300px;
    text-decoration: none;
    color: black;

}
#a2{
    position: absolute;
    left: 500px;
    text-decoration: none;
    color: black;
    

}

#a3{
    position: absolute;
    left: 700px;
    text-decoration: none;
    color: white;
}
#a4{
    position: absolute;
    left:900px;
    text-decoration: none;
    color: white;
}
#a1:hover{
    color: rgb(85, 85, 85);
    transition: ease-in-out 0.1s;
}
#a2:hover{
    color: rgb(85, 85, 85);
    transition: ease-in-out 0.1s;
}
#a3:hover{
    color: rgb(203, 202, 202);
    transition: ease-in-out 0.1s;
}
#a4:hover{
    color: rgb(203, 202, 202);
    transition: ease-in-out 0.1s;
}
.white-w{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: white;
}
.black-w{
    height: 100%;
    width: 50%;
    float: right;
    background-color: black;
    position: absolute;
    left: 50%;
}
.search-bar{
    width: 120px;
    height: 30px;
    position: absolute;
    background-color: white;
    float: right;
    left: 1050px;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    border-radius: 20px;

}
.sign-up-bar{
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    position: absolute;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    border-radius: 20px;
    left: 105px;
    top: -2px;
}


.search-bar:hover{
    background-color: rgb(203, 202, 202);
    transition: ease-in-out 0.2s;
}
.s2{
    position:absolute;
    left: 40px;
    top: 6px;
    font-size: 15px;
    color: black;
}
.s3{
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    left: 40px;
    top: 7px;
    font-weight: 400;
    transition-duration: 0.3s;
}
.sign-up-bar:hover{
    background-color: rgb(85, 85, 85);
    transition: ease-in-out 0.2s;
}
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    left: 12px;
    color: black;
    top: 9px;
    opacity: 70%;
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}
.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    top: 4px;
    left: 5px;
    position: relative
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');
.img1{
    width: 100px;
    height: 200px;
    position: absolute;
    left: 680px;
    top: 492px;
    opacity: 0%;
    transition-duration: 1200000000s;
}
body:hover .img1{
    opacity: 100%;
    top: 97px;
    width: 850px;
    height: 600px;
    transition: ease-in-out 1s;
    left: 320px;

}
.middle-text {
    
    position: absolute;

}
.left-text{
    color: black;
    position: absolute;
    left: 650px;
    top:350px;
    width: 500px;
    opacity: 0%;
    transition-duration: 100000000s;
    
}
.how{
    color: black;
    position: absolute;
    left: 630px;
    top:350px;
    width: 500px;
    opacity: 0%;
    transition-duration: 100000000s;
    
}
.right-text{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 800px;
    top:350px;
    width: 500px;
    text-align: center;
    opacity: 0%;
    transition-duration: 100000000s;
}
body:hover .left-text{
   left: 430px;
   top: 240px;
   width: 600px;
    font-size: 95px;
    transition:  ease-in-out 1.1s;
    opacity: 100%;
    text-transform: capitalize;
}
body:hover .how{
    left: 30px;
    top: 110px;
    width: 600px;
    font-size: 190px;
    transition:  ease-in-out 1.1s;
    opacity: 100%;
    text-transform: capitalize;
 
}
body:hover .right-text{
    left: 720px;
    top: 240px;
    width: 600px;
    padding-left: 100px;
    font-size: 94px;
    transition:  ease-in-out 1.1s;
    opacity: 100%;
    text-transform: capitalize;
    color: white;
}
 .first-box{
    width: 100%;
    height: 700px;
    background-color: black;
    position: absolute;
    top: 692px;
}
 .left-small-white{
    width: 50%;
    transition-duration: 100000s;
    height: 100%;
    background-color: white;
}
 .first-box:hover .left-small-white{
    width: 20%;
    transition: ease-in-out 0.5s;
    background-color: white;

}
 .right-small-black{
    width: 50%;
    height: 100%;
    background-color: white;
    transition-duration: 100000s;
    float:right;
    position: relative;
    top: -700px;
}
 .first-box:hover .right-small-black{
    width: 80%;
    transition: ease-in-out 0.5s;
    background-color: black;
}

.bw-img{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 420px;
    top: 0;
    opacity: 0;

    transition-duration: 100000s;
}
 .first-box:hover .bw-img{
    opacity: 1;
    left: 100px;
    transition:ease-in-out 0.5s;
}
 .first-h1{
    opacity: 0%;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
   left: 1000px;
   text-align: center;
   justify-content: middle;
   font-size: 8px;
   color: white;
   word-spacing: 10px;
   letter-spacing: 2px;
   
   transition-duration: 100000s;
}
 .first-box:hover .first-h1{
    opacity: 1;
    width: 700px;
    height: 300px;
    font-size: 80px;
    transition:ease-in-out 0.8s;
    left: 690px;
   
}
 .first-h5{
    width: 400px;
    height: 350px;
    font-size:18px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(168, 168, 168);
    position: absolute;
    top: 320px;
    left: 1000px;
    opacity: 0;
    transition-duration: 100000s;
    text-align: justify;
    
}
 .first-box:hover .first-h5{
    opacity: 90%;
    left: 850px;
    transition: ease-in-out 1.2s;

}
 .first-button{
    width: 250px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 620px;
    left:1100px;
    border: solid 3px rgb(164, 164, 164);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    transition-duration: 100000s;
    opacity: 0;
}
 .first-box:hover .first-button{
    opacity: 1;
    transition: ease-in-out 1.6s;
    left: 925px;
}
.first-button:hover{
    background-color: rgb(85, 85, 85);
    transition: ease-in-out 0.1ms;
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 40px;
}
::-webkit-scrollbar-track{
    background-attachment: black;
    height: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
.h-lines,.khode-lines2,.khode-lines3,.khode-lines4{
    width: 300px;
    height: 5px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 150px;
    border-radius: 20px;

}
.h-lines{
    width: 00px;
    top: 150px;
    transition-duration: 1s;

}

.khode-lines2{
    width: 00px;
    top: 100px;
    opacity: 0;
    transition-duration: 1s;
}
.khode-lines3{
    top: 300px;
    width: 00px;
    opacity: 0;
    transition-duration: 1s;
    
}
.khode-lines4{
    top: 400px;
    width: 0px;
    transition-duration: 1s;
}
body:hover .h-lines{
    width: 300px;
    top: 150px;
    opacity: 1;
    transition-duration: 0.8s;
}
body:hover .khode-lines2{
    opacity: 1;
    width: 500px;
    transition: ease-in-out 0.8s;
}
body:hover .khode-lines3{
    width: 200px;
    opacity: 1;
    transition: ease-in-out 0.8s;
}
body:hover .khode-lines4{
    width: 330px;
    opacity: 1;
    transition: ease-in-out 0.8s;
}
.h-lines-right,.khode-lines2-r,.khode-lines3-r,.khode-lines4-r{
    width: 300px;
    height: 5px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 150px;
    border-radius: 20px;

}
.h-lines-right{
    width: 00px;
    top: 150px;
    transition-duration: 1s;

}

.khode-lines2-r{
    width: 00px;
    top: 100px;
    opacity: 0;
    transition-duration: 1s;
}
.khode-lines3-r{
    top: 300px;
    width: 00px;
    opacity: 0;
    transition-duration: 1s;
    
}
.khode-lines4-r{
    top: 400px;
    width: 0px;
    transition-duration: 1s;
}
body:hover .h-lines-right{
    width: 500px;
    top: 150px;
    opacity: 1;
    transition-duration: 0.8s;
}
body:hover .khode-lines2-r{
    opacity: 1;
    width: 200px;
    transition: ease-in-out 0.8s;
}
body:hover .khode-lines3-r{
    width: 450px;
    opacity: 1;
    transition: ease-in-out 0.8s;
}
body:hover .khode-lines4-r{
    width: 280px;
    opacity: 1;
    transition: ease-in-out 0.8s;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 300px;
    left: 300px;
    width: 800px;
    height: 100px;
    transition-duration: 100000s;

}
.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition-duration: 100000s;
}
.first-box:hover .loader-container{
opacity: 0;
transition: 0.2s;
}
.first-box:hover .press-here-div{
    opacity: 0;
    transition: ease-in-out 0.2s;
}
.progress {
    width: 0;
    height: 100%;
    background-color: black;
    animation: fill 4s infinite;
    position: relative;
}
@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.long-img{
    width: 100%;
    height: 1500px;
    background: linear-gradient(to bottom, black, white);
    position: absolute;
    top:1392px;
}
.first-v{
    width: 600px;
    height: 600px;
    position: absolute;
    left:400px;
    top: 50px;

}
.horizontal-line{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.for-back{
    width: 800px;
    height: 700px;
    top: 0px;
    position: absolute;
    background: linear-gradient(to right ,black,transparent);
}
.topic-h4{
    font-size: 16px;
    color: rgb(149, 149, 149);
    margin-left: 50px;
    margin-top: 100px;

}
.topic-h1{
    font-size: 80px;
    height: 20%;
    width: 90%;
    color: white;
    margin-left: 40px;
    margin-top: -30px;
}
.topic-h3{
 font-size: 14px;
 width: 300px;
 margin-top: 150px;
 color: rgb(149, 149, 149);
 margin-left: 50px;
 
}
.topic-h4-2{
margin-left:120px;
width: 300px;
color: rgb(149, 149, 149);
}
.number-320k{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.number-10k{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.button-startnow-div{
    width: 250px;
    position: relative;
    left: 70px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50px;
    top: 30px;
    border: none;
}
.khode-startnow-button{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.khode-startnow-button:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: ease-in-out 0.2s;
}
.press-here-div{
    width: 300px;
    height: 100px;
    text-decoration: underline;
    position: absolute;
    left: 39%;
    top: 50%;
}
.press-here-div h5{
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 70%;
}
.hidden {
    opacity: 30%;
    transition: 1s;
}
.tuturial{
    width: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1370px;
    
}
.container-2{
    display: flex;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(90deg, #fff 20%, #fff 80% ,transparent);
    mask-image:linear-gradient(90deg, transparent #fff 20% ,#fff 80%, transparent);
}
.scroller{
    display: flex;
    gap: 10px;
    animation: scroll 25s linear infinite;
    animation-delay: calc(25s / -1);

}
.scroller:nth-child(2){
    animation: scroll2 25s linear infinite;
    animation-delay: calc(25s / -2);
}
.item{
    height: fit-content;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 7px;
    box-shadow: rgba(255, 255, 255, 0.192) 0px 0px 15px;
}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes scroll2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

.div-for-texts{
    width: 700px;
    height: 800px;
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 800px;
    transition-duration: 10000000000s;
}
.texts-h1{
    font-size: 90px;
    color: black;
    text-align: center;
    width: 100%;
    height: 50%;
    margin-top: -50px;


}
.texts-h4{
    width: 80%;
    height: 30%;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -130px;
    text-align: justify;
    margin-left: 90px;

}
.texts-button,.texts-button-2{
width: 200px;
height: 50px;
background-color: black;
position: relative;
top: -220px;
border: solid 2px white;
font-size: 18px;
left: 120px;
color: white;
text-transform: capitalize;
border-radius: 50px;

}
.texts-button-2{
left: 140px;
font-size: 20px;
background-color: white;
color:black;
border: solid 2px black;
transition-duration: 0.5s;
}
.texts-button:hover{
    background-color: #505050;
    transition:ease-in-out 0.2s;
    color: white;
    border: solid 5px white;
}
.texts-button-2:hover{
    background-color: #b5b0b0;
    transition:ease-in-out 0.2s;
    color: white;
    border: solid 5px white;
}
.right-picture-div{
    width: 700px;
    height:700px;
    position: absolute;
    right: 10px;
    top: 690px;
    opacity: 0;
    transition-duration: 100000000s;
}
.inside-picture-of-div{
    width: 100%;
    height: 100%;
}
.black-horizontal-line{
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,black,#f0eeee 70%);
    position: absolute;
    top: 1390px;

}
.black-horizontal-line-2{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,black,#f0eeee 70%);
    position: absolute;
    top:720px;

}
section:hover .div-for-texts{
    opacity: 1;
    transition: ease-in-out 1.7s;
}
section:hover .right-picture-div{
    opacity: 1;
    transition: ease-in-out 1.7s;
}

